html,body{
    height: 100%;
}

img{
    max-width: 100%;
}

#cover{
    background: #222 url(../img/night-sky-2284594.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-texto{
    width: 100%;
}

#cover-texto .form-inline{
    padding: 5rem;
}

#acerca-de{
    background: url(../img/acerca.jpg) center center no-repeat;
    background-size: cover;
}

.contenido-seccion{
    padding: 5rem 0;
}

.texto-acerca-de{
    background:rgba(0, 0, 0, .8);
    color: white;
    padding: 1.875rem;
}