/* REGLAS GENERALES */
html{
  /* 16px -----> 100%
  10px -----> 62.5% */
  font-size: 62.5%;
  box-sizing: inherit;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

h1{
  font-size: 3.8rem;
}

h2{
  font-size: 3.4rem;
}

h3{
  font-size: 3rem;
}

h4{
  font-size: 2.6rem;
}

img{
  max-width: 100%;
}

figcaption{
  font-style: italic;
  text-align: right;
  margin: 1rem 0;
  font-size: 1.3rem;
}

label{
  display: block;
font-weight: 700;
text-transform: uppercase;
}

textarea{
  height: 20rem;
}

legend{
  font-size: 2rem;
  color: #333333;
  margin-bottom: 2.3rem;
}
.fw-300{
  font-weight: 300;
}

.texto-centrado{
  text-align: center;
}

.display-block{
  display: block!important;
}

.boton{
  color: white;
  font-weight: 900;
  text-decoration: none;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
  text-align: center;
  border-radius: 1rem;
  border: 0;
}

.boton-verde{
  background-color: #71b100;

}
.boton-verde:hover {
  background-color: #a1e727;
  cursor: pointer;

}

.boton-amarillo{
  background-color: #e08709;
}

.cover{
  background-color: #333333;
  padding: 1rem 0 3rem;
}

.cover.inicio{
  background-color: #736666;
  background-image: url("../img/fondo.jpg");
  background-blend-mode: overlay; 
  background-size: cover;
  background-position: center center;
  min-height: 40rem;
  height: 100vh;
}

.contenedor-centrado{
  max-width: 120rem;
  /*Parte top= 0, right=aunto, button=0, left=auto ;*/
  margin: 0 auto;
}

.seccion{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.iconos-nosotros{
  display: flex;
  justify-content: space-between;
}

.iconos{
  flex-basis: calc(33.3% - 1rem);
  text-align: center;
  line-height: 2;
}

.iconos h3{
  text-transform: uppercase;
}

.separacion-nav-h1{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.separacion-nav-h1 h1{
  color: white;
  font-size: 5rem;
  max-width: 50rem;
  line-height: 2;
}

.fuente-nav-h1{
  font-family: 'Permanent Marker', 'Times New Roman', cursive;
}

.logo-barra{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.navegacion a{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin-right: 2rem;
}

/* Solamente afecta al ultimo elemento del grupo de navegación */
.navegacion a:last-of-type{
  margin-right: 0;    
}

/* Ratón sobre */
.navegacion a:hover{
  color: lightgreen;
}

.contenedor-anuncios{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.anuncio{
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: calc(33.3% - 1rem); 
  line-height: 2;
  border-width: 0.01rem;
  border-style: solid;
  border-color: #b5b5b5;
  text-align: center;
  background-color: #f5f5f5;
  margin-top: 2rem;
}

.anuncio img{
  width: 40rem;
  height: 50rem;
  object-fit: cover;
  border: 0.3rem solid black;
}

.contenido-anuncio{
  padding: 2rem;
}

.contenido-anuncio h3, 
.contenido-anuncio p{
  margin: 0;
  text-transform: uppercase;
}

.precio{
  color: #71b100;
  font-weight: 900;
}

.precio del{
  color: crimson;
}

.ver-mas{
  display: flex;
  justify-content: flex-end;
}

.imagen-fidelizacion{
  background-image: url("../img/fidelizacion.jpg");
  background-position: center center;
  background-size: cover;
  height: 40rem;
  display: flex;
  align-items: center;
}

.contenido-contacto{
  color: white;
  flex: 1;
}

.contenido-contacto p{
  font-size: 2.5rem;
}

.seccion-inferior{
  display: flex;
  justify-content: space-between;
}

.seccion-blog{
  flex-basis: 60%;
}

.seccion-testimoniales{
  flex-basis: calc(40% - 2rem);
}

.entrada-blog{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.entrada-blog:last-of-type{
  margin-bottom: 0;
}

.imagen-blog{
  flex-basis: 40%;
}

.texto-entrada{
  flex-basis: calc(60% - 3rem)       
}

.texto-entrada h4{
  margin: 0;
  line-height: 1.2;
}

.texto-entrada h4::after{
  content: "";
  display: block;
  width: 15rem;
  height: 0.5rem;
  background-color: #71b100;
  margin-top: 1rem;
}

.texto-entrada a{
  text-decoration: none;
  color: black;
}

.texto-entrada em{
  color: #e08709;
}

.testimonio{
  background-color: #71b100;
  font-size: 2.4rem;
  padding: 2rem;
  color: white;
  border-radius: 2rem;
}

/* afecta al elemento siguiente de blockquote que sea p */
.testimonio blockquote + p{
  text-align: right;
}

.testimonio blockquote::before{
  content: "";
  background-image: url(../img/comilla.svg);
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: -2rem;
}

.testimonio blockquote{
  position: relative;
  padding-left: 5rem;
}

.seccion-footer{
  background-color: #333333;
  margin: 0;
}

.contenedor-footer{
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.copyright{
  margin: 0;
  color: white;
} 

.contenido-nosotros{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 2rem;
}

.texto-nosotros blockquote{
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding: 3rem 0;
}

.texto-nosotros p{
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  padding: 3rem 0;
}

.titulo-contacto a{
  text-decoration: none;
  color: #333333;
}
.titulo-contacto h1{
  font-weight: 400;
}
.contenido-centrado{
  max-width: 80rem;
}

input:not([type="submit"]):not([type="checkbox"]),
select,textarea{
 padding: 1rem;
 width: 100%;
 background-color: #e1e1e1;
 margin-bottom: 2rem;
 border: none;
 border-radius: 1rem;
}

.formato-documento{
display: flex;
align-items: center;

}
.formato-documento label{
  margin: 0 0.5rem 2rem 0;
}

.formato-documento label:last-of-type{
  margin-left: 0.5rem;
}
.formato-documento input,
.formato-documento select{
  flex-grow: 1;
}

.formato-ofertas label{
display: inline;
}